.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
  background-color: whitesmoke;
}

.header > :first-child {
  position: absolute;
  left: 0;
  padding-left: 2rem;
}
